video::cue {
    font-size: 1rem;
}

#sub-content {
    width: auto;
    min-height: 60vh;
    margin-left: 200px;
    margin-right: 200px;
}

@media only screen and (max-width: 1200px) {
    #sub-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #sub-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#title {
    text-align: center;
}

#content-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 15px;
    margin-bottom: 20px;
}

#transcript {
    max-height: 400px;
    overflow-y: scroll;
}

#search-container {
    margin-left: 20px;
}

#search-result {
    max-height: 250px;
    overflow-y: scroll;
}

#video {
    max-width: 1280px;
    width: 100%;
    padding: 20px;
    user-select: none;
}

#toc {
    font-weight: bold;
}

#toc > a {
    cursor: pointer;
}

.cue,
.result {
    margin-bottom: 2px;
    transition: color background-color 0.75s ease;
}

.part {
    padding: 5px;
    font-size: 16px;
    color: #eee;
    background-color: #d31820;
    outline: none;
    border: none;
    margin-right: 15px;
}

.part:hover {
    background-color: #bd131b;
}

.cue:hover,
.result:hover {
    color: #0160e4;
    cursor: pointer;
}

.highlight {
    background-color: rgb(255, 255, 128);
}
