html,
body {
    min-width: 100vh;
    overflow-x: hidden;
}

#web-root {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #d31821d0;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}
